<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastrar produto</h1>
    <form action="/save/ok" method="post">
        <div>
            <input type="text" name="name" required placeholder="Digite o nome do produto">
        </div>
        <div>
            <input type="text" name="preco" required placeholder="Digite o preco do produto">
        </div>
        <div>
            <input type="text" name="tipo" required placeholder="Digite a descrição do produto">
        </div>
        <div>
            <input type="submit">
        </div>
    </form>
</body>
</html>